flows/chatbot-with-memory.json
{
  "name": "Chatbot with Memory",
  "nodes": [
    {
      "parameters": {},
      "id": 1,
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "memory": "={{$node[\"Buffer Memory\"].json}}"
      },
      "id": 2,
      "name": "AI Agent",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini"
      },
      "id": 3,
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "memoryType": "buffer"
      },
      "id": 4,
      "name": "Buffer Memory",
      "type": "n8n-nodes-base.memory",
      "typeVersion": 1,
      "position": [450, 120]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  }
}
